# ArchlinuxARM
ArchLinuxARM-rpi-2-latest.tar.gz

# Openelec
OpenELEC-RPi2.arm-*

# Qemu
kernel-qemu
qemu/hypriot-rpi-*.img*
qemu/kernel-qemu-4.1.7-jessie
qemu/master.zip
qemu/qemu-rpi-kernel-master/

# Raspbian
*-raspbian-jessie.zip
*-raspbian-jessie.img